---
const { track } = Astro.props;
---

<div>
  <img
    transition:name={track.data.name}
    class="mainPicture"
    src={`${import.meta.env.PUBLIC_CF_IMAGE_URL}${track.data.img}/350x350`}
    srcset={`${import.meta.env.PUBLIC_CF_IMAGE_URL}${
      track.data.img
    }/350x350 350w, ${import.meta.env.PUBLIC_CF_IMAGE_URL}${
      track.data.img
    }/700x700 700w, ${import.meta.env.PUBLIC_CF_IMAGE_URL}${
      track.data.img
    }/1024x1024 1024w`}
    sizes="(max-width: 450px) 350px, (max-height: 450px) 350px, (max-width: 875px) 700px, (max-height: 875px) 700px, 1024px"
  />
</div>

<style lang="scss">
  div {
    position: relative;
  }
  img {
    width: 80vmin;
    height: 80vmin;
    opacity: 1;
    transition: opacity var(--whole-note);
  }

  body.playing img {
    opacity: 0;
  }
  body.userRecentAction img,
  body.playing img:hover {
    opacity: 1;
  }
</style>
