---
import Track from "./Track.astro";

import { getCollection } from "astro:content";

const tracks = await getCollection("tracks");
---

<div>
  {
    tracks.map((track) => (
      <Track
        img={track.data.img}
        mp3={track.data.mp3}
        name={track.data.name}
        slug={track.data.slug}
        bpm={track.data.bpm}
        waveform={track.data.waveform}
      />
    ))
  }
</div>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
