---
import { type CollectionEntry, getCollection } from "astro:content";
import Header from "@/components/Menu/Header.astro";
import Footer from "@/components/Menu/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import Cover from "@/components/Cover/Cover.astro";
import Controls from "@/components/Controls/Controls.astro";

export async function getStaticPaths() {
  const tracks = await getCollection("tracks");
  return tracks.map((track) => ({
    params: { slug: track.data.slug },
    props: track,
  }));
}
type Props = CollectionEntry<"tracks">;

const track = Astro.props;
const { name } = track.data;
---

<Layout title={`Spitofy. ${name}`} track={track}>
  <Header title={name} />
  <div>
    <Cover track={track} />
    <Controls track={track} />
  </div>
  <Footer />
</Layout>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100lvh;
  }
</style>
