---
import { ViewTransitions } from "astro:transitions";
import Audio from "@/components/Audio.astro";
import { getEntry, type CollectionEntry } from "astro:content";
import OG from "@/components/OG.astro";

interface Props {
  title: string;
  track?: CollectionEntry<"tracks">;
  og?: {
    title?: string;
    description?: string;
    image?: string;
    url?: string;
    type?: string;
    audio?: string;
    site_name?: string;
  };
}

const { title, track: commingTrack, og } = Astro.props;
const track = commingTrack ?? (await getEntry("tracks", "universe"));
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={og?.description} />
    <title>{title}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script src="@/js/userRecentAction.ts"></script>
    <OG title={title} track={track} og={og} />

    <ViewTransitions />
    <script src="@/js/posthog.ts"></script>
  </head>
  <body>
    <Audio transition:name="audioGlobal" transition:persist track={track} />
    <slot />

    <style is:global lang="scss">
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      body {
        margin: 0;
        cursor: url(/normalhand.webp), auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        min-height: 100lvh;
      }
      a {
        cursor: url(/hand.webp), pointer;
      }

      :root {
        --BPM: 120;

        /* ms for each duration depending on the BPM  */
        --quarter-note: calc(60s / var(--BPM));
        --half-note: calc(2 * 60s / var(--BPM));
        --whole-note: calc(4 * 60s / var(--BPM));
        --eighth-note: calc(60s / var(--BPM) / 2);
        --sixteenth-note: calc(60s / var(--BPM) / 4);
        --word: calc(var(--whole-note) * 4);
        --phrase: calc(var(--word) * 4);

        --button-size: 50px;
        @media (max-width: 500px) {
          --button-size: 40px;
        }
        @media (max-width: 400px) {
          --button-size: 30px;
        }
      }
    </style>
    <script>
      let bodyClassName;
      document.addEventListener("astro:before-swap", () => {
        bodyClassName = document.body.className;
      });
      document.addEventListener("astro:after-swap", () => {
        document.body.className = bodyClassName;
      });
    </script>
  </body>
</html>
